[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-makeshift"]
	path = .vim/bundle/vim-makeshift
	url = https://github.com/johnsyweb/vim-makeshift.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-rooter"]
	path = .vim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule ".vim/bundle/vim-makegreen"]
	path = .vim/bundle/vim-makegreen
	url = https://github.com/reinh/vim-makegreen.git
